<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.0/minty/bootstrap.min.css"
      integrity="sha384-HqaYdAE26lgFCJsUF9TBdbZf7ygr9yPHtxtg37JshqVQi6CCAo6Qvwmgc5xclIiV" crossorigin="anonymous">


<head>
    <meta charset="UTF-8">
    <title>Edit Contact</title>
</head>
<body>
<div class="jumbotron container col-lg-4 col-lg-offset-6">

    <h1 class="text-center">Edit Existing Contact</h1>
    <br>

    <form class="form-group" method="put" th:action="@{/editContact}" onsubmit="return checkUserInput()">
        <input type="hidden" th:value="${contact.id}" id="id" name="id">
        <label for="contactName" class="form-inline">Name: </label>
        <input type="text" id="contactName" name="contactName" th:value="${contact.contactName}">
        <br>
        <label for="mail" class="form-inline">Mail: </label>
        <input type="text" id="mail" name="mail" th:value="${contact.mail}">
        <br>
        <label for="phonenumber" class="form-inline">Phone Number: </label>
        <input type="text" id="phonenumber" name="phonenumber" th:value="${contact.phoneNumber}">
        <br>
        <br>
        <button type="submit" class="btn btn-success">Save Changes</button>
    </form>

    <form action="/" method="get">
        <button class="btn btn-outline-secondary float-right">Back to start</button>
    </form>

</div>

<script>
    function checkUserInput() {
        var id = document.getElementById("id").value;
        var contactName = document.getElementById("contactName").value;
        var mail = document.getElementById("mail").value;
        var phonenumber = document.getElementById("phonenumber").value;

        if (id == null) {
            return false;
        }

        if (contactName.length == 0) {
            alert("Name is mandatory.");
            return false;
        }

        var mailformat = /^\w+([.-]?\w+)*@\w+([.-]?\w+)*(\.\w{2,3})+$/;
        if (!(mail.match(mailformat))) {
            alert("Mail is not a valid format.");
            return false;
        }

        if (phonenumber.length == 0) {
            alert("Enter a phone number.");
            return false;
        }
        alert("Changes have been saved!");
        submitOK = true;
    }
</script>

</body>
</html>